<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Booleanism.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Booleanism.Properties.Settings>
            <setting name="wireColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="wireColor2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="wireColor3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="mostRecentFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="recentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Null</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="wireSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="themeColor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="startupFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="isSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isToolbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCompToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFileMenuToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isEditMenuToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isToolboxWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPropWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTruthTool" serializeAs="String">
                <value>False</value>
            </setting>
        </Booleanism.Properties.Settings>
    </userSettings>
</configuration>
